{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BLOG</title>
      <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
      <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS Files -->
    <link href="{% static 'css/variables.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
 
    <link rel="stylesheet" href="{% static 'mycss/style.css' %}">
  </head>
  <body>
    {% comment %} navbar {% endcomment %}
  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'list' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>JAVAD</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'list' %}">Blog</a></li>


          <li><a href="https://javadnr.pythonanywhere.com/">About</a></li>
          <li><a href="https://javadnr.pythonanywhere.com/contact/">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="https://twitter.com/thefuckingjone" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="https://instagram.com/javadnamavarsrv?igshid=NzZlODBkYWE4Ng%3D%3D&utm_source=qr" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="{% url 'search' %}" class="search-form">
            {% csrf_token %}
            <span class="icon bi-x js-search-close"></span>
            <input type="text" placeholder="Search" class="form-control" name="searched">
            <button class="btn js-search-close"><span class="bi-search"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>
  </header>
    <!-- <div class="sticky-top shadow bg-light " style="--bs-bg-opacity: 0.95">
        <nav class="navbar navbar-expand-lg container  navbar-light  ">
            <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'list' %}">HOME</a>
            <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">About me</a>
                    
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post' %}">New Post</a>
                    </li> 
                    {% endif %}
                    {% if user.is_authenticated %}
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li> 
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                <li class="nav-item ">
                    <a class="nav-link disabled">JavadNamavar</a>
                </li>           
            </ul>
                <div class="justify-content-lg-end">
                    <form class="d-flex" role="search" method="GET" action="{% url 'search' %}">
                        {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
            </div>
        </nav>
    </div> -->
  
    {% block content %}
        
    {% endblock content %}  
</main>
  
      <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-lg-4">
            <h3 class="footer-heading">About JAVAD</h3>
            <p>My name is javad namavar.I'm from Iran. I love programming and python because I can talk to computer with that very easy.I do web developments on server side by django. </p>
            <p><a href="https://javadnr.pythonanywhere.com/" class="footer-link-more">Learn More</a></p>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Navigation</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'list' %}"><i class="bi bi-chevron-right"></i> Home</a></li>
              <li><a href="{% url 'list' %}"><i class="bi bi-chevron-right"></i> Blog</a></li>
              {% for category in categories %}
              <li><a href="{% url 'category_posts' category.id %}"><i class="bi bi-chevron-right"></i> Categories</a></li>
              {% endfor %}
              <li><a href="https://javadnr.pythonanywhere.com/"><i class="bi bi-chevron-right"></i> About me</a></li>
              <li><a href="https://javadnr.pythonanywhere.com/contact/"><i class="bi bi-chevron-right"></i> Contact</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Categories</h3>
            <ul class="aside-links list-unstyled">
                {% for category in categories|slice:"0:5" %}
                  
                
                <li><a class="text-light" href="{% url 'category_posts' category.id %}"><i class="bi bi-chevron-right text-light"></i> {{category.name}}</a></li>
                {% endfor %}
              </ul>
          </div>

          <div class="col-lg-4">
            <h3 class="footer-heading">Recent Posts</h3>

            <ul class="footer-links footer-blog-entry list-unstyled">
              <li>
                {% for post in posts|slice:"0:4"%}
                <a href="{% url 'detail' post.id %}" class="d-flex align-items-center">
                <img src="{{post.image.url}}" alt="" class="img-fluid me-3" width='50' length='50'>
                <div>
                  <div class="post-meta d-block"><span class="date">{{post.category}}</span> <span class="mx-1">&bullet;</span> <span>{{post.date_added}}</span></div>
                  <span>{{post.title|title}}</span>
                </div>
                </a>
            {% endfor %} 
              </li>
               
              

            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>ZenBlog</span></strong>. All Rights Reserved
            </div>

            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="https://twitter.com/thefuckingjone" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://instagram.com/javadnamavarsrv?igshid=NzZlODBkYWE4Ng%3D%3D&utm_source=qr" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>

          </div>

        </div>

      </div>
    </div>



  </footer>
      <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
    
  </body>
</html>